/** Base **/
html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    background: #ebebeb;
}

h1{
    visibility: hidden;
}

h2{
    color: #1F80C4;
}

h3{
    color: #E84644;
}

p{
    line-height: 1.5em;
    padding: 10px;
    font-size: 1.2rem;
}

section{
    padding: 10px;
}

/** Second section index.html **/

.card{
    margin: 10px;
}

/**Fourth section index.html **/
form{
    border: solid 2px black;
    border-radius: 10px;
    padding: 5px;
}

.spanPrice{
    font-size: 3rem;
}

/** Footer **/
footer{
    background: black;
}

.navFooter{
    list-style-type: none;
}

.navFooter > li{
    display: inline-block;
}

/** img gif summerparty.html **/
.gifCard{
    width: 250px;
    height: 150px;
}

@media (max-width: 576px) {
    /** Header phone version **/
    h1{
        font-size: 1rem;
    }

    .logo{
        width: 100px;
        height: 100px;
    }
    .welcome{
        display: none;
    }

    /** Section phone version **/
    section{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /** Footer phone version **/
    .spanFooter{
        font-size: 1.5rem;
    }

    .navFooter{
        padding: 25px;
    }

    .navFooter > li{
        height: 50px;
        width: 50px;
    }

    /** text presentation phone version events.html **/
    .presentationEvent{
        padding: 10px;
    }
}

@media (min-width: 577px){
    /** Header tablet version **/
    h1{
        font-size: 3rem;
    }

    .logo{
        width: 125px;
        height: 125px;
    }
    /** Welcome tablet version **/
    .welcome{
        height: 75vh;
        text-align: center;
        background-image: url(img/background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .welcomeLogo{
        width:400px;
        height: 400px;
    }
    /** Section tablet version **/
    section{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /** card tablet version index.html **/
    .card{
        margin: 20px;
    }

    /** Footer tablet version **/
    .spanFooter{
        font-size: 2rem;
    }
    
    .navFooter{
        padding: 50px;
    }

    .navFooter > li{
        height: 65px;
        width: 65px;
    }

    /** text presentation tablet version events.html **/
    .presentationEvent{
        padding: none;
    }
}

@media (min-width: 992px){
    /** Header laptop version **/
    h1{
        font-size: 6rem;
    }

    .logo{
        width: 125px;
        height: 125px;
    }
    /** Welcome laptop version **/
    .welcome{
        height: 100vh;
        text-align: center;
        background-image: url(img/background.jpg);
        background-attachment: fixed;
    }
    .welcomeLogo{
        width:650px;
        height: 650px;
    }

    /** Section laptop version **/
    section{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /** Card laptop version index.html **/
    .card{
        margin: 30px;
    }

    /** Footer laptop version **/
    .spanFooter{
        font-size: 2.5rem;
    }
    
    .navFooter{
        padding: 65px;
        margin: 0;
    }

    .navFooter > li{
        height: 75px;
        width: 75px;
    }

    /** text presentation laptop version events.html **/
    .presentationEvent{
        padding: 50px;
    }
}