/** Base **/
html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
}

h2{
    color: #1F80C4;
}

p{
    line-height: 1.5em;
    padding: 10px;
    font-size: 1.2rem;
}

article{
    background: #C4C4C4;
}
section{
    background: #F2F2F2;
    padding: 10px;
}

/** Header **/
header {
    background: black;
    text-align: center;
}

/** Second section index.html **/

.card{
    margin: 10px;
}

/**Fourth section index.html **/
form{
    border: solid 2px black;
    border-radius: 10px;
    padding: 5px;
}

.spanPrice{
    font-size: 4rem;
}

/** Footer **/
footer{
    background: black;
}

.navFooter{
    list-style-type: none;
}

.navFooter > li{
    display: inline-block;
}

/** img gif summerparty.html **/
.gifCard{
    width: 250px;
    height: 150px;
    text-align: center;
}

@media (max-width: 576px) {
    /** Header phone version **/
    h1{
        font-size: 4rem;
        letter-spacing: 1.5rem;
    }

    .logo{
        width: 150px;
        height: 150px;
    }

    /** Section phone version **/
    section{
        margin-top: 5px;
        margin-bottom: 5px;

    }

    /** Footer phone version **/
    .spanFooter{
        font-size: 1.5rem;
    }

    .navFooter{
        padding: 25px;
    }

    .navFooter > li{
        height: 50px;
        width: 50px;
    }

    /** texte présentation phone version events.html **/
    .presentationEvent{
        padding: 10px;
    }
}

@media (min-width: 577px){
    /** Header tablet version **/
    h1{
        font-size: 6rem;
        letter-spacing: 2rem;
    }

    .logo{
        width: 200px;
        height: 200px;
    }

    /** Section tablet version **/
    section{
        border: solid 5px grey;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /** card tablet version index.html **/
    .card{
        margin: 20px;
    }

    /** Footer tablet version **/
    .spanFooter{
        font-size: 2rem;
    }
    
    .navFooter{
        padding: 50px;
    }

    .navFooter > li{
        height: 65px;
        width: 65px;
    }

    /** texte présentation tablet version events.html **/
    .presentationEvent{
        padding: none;
    }
}

@media (min-width: 992px){
    /** Header laptop version **/
    h1{
        font-size: 8rem;
        letter-spacing: 3rem;
    }

    .logo{
        width: 250px;
        height: 250px;
    }

    /** Section laptop version **/
    section{
        border: solid 5px grey;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /** Card laptop version index.html **/
    .card{
        margin: 30px;
    }

    /** Footer laptop version **/
    .spanFooter{
        font-size: 2.5rem;
    }
    
    .navFooter{
        padding: 65px;
    }

    .navFooter > li{
        height: 75px;
        width: 75px;
    }

    /** texte présentation laptop version events.html **/
    .presentationEvent{
        padding: 50px;
    }
}